<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-linkedin" style="color: #B197FC;"></i>
                <i class="fa-solid fa-envelope" style="color: #B197FC;"></i>
            </div>
            <div class="f-info-brand"> &copy; StayEase Private Ltd</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>