<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stayease</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>StayEase - Comfort Made Simple.</h1>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>
