<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEase – Comfort Meets Convenience!</title>
</head>
<body>
    <h1>Explore All Stays</h1>
    <ul>
        <% for(listing of allListings){ %>
            <li> <a href="/listings/<%= listing._id %>"><%= listing.title%></a>  </li>
            <br/> <br/>
        <% } %>
    </ul>

</body>
</html>
