<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEase – Comfort Meets Convenience!</title>
</head> -->

<% layout("/layouts/boilerplate") %>

<body>
    <h3>Explore All Stays</h3>
    <!-- <form method="get" action="/listings/stay">
        <button>Add new Stay</button>
    </form> -->
    <% for(listing of allListings){ %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=listing.image.url %>" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <% } %>

</body>
<!-- </html> -->
