<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEase – Comfort Meets Convenience!</title>
</head> -->

<% layout("/layouts/boilerplate") %>

  <br/> 
    <h3>Explore All Stays</h3>
    <br/> 
    <!-- <form method="get" action="/listings/stay">
        <button>Add new Stay</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for(listing of allListings){ %>
        <a href="/listings/<%=listing._id %>" class="listing-link">
          <div class="card" >
            <img class="card-img-top" style="height: 20rem" src="<%=listing.image.url %>" alt="Card image cap" >
            <div class="card-img-overlay"></div>          
            <div class="card-body">
              <p class="card-text">
                  <b><%= listing.title %></b> <br/>
                  &#8377;<%= Number(listing.price).toLocaleString("en-IN") %>/night
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>

<!-- </html> -->
