<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Stay</title>
</head>
<body>
    <h3>Add Your Stay - Welcome More Guests!</h3>
    <form method="post" action="/listings">
        <input name="title" placeholder="enter title">
        <br/> <br/>
        <textarea rows="5" cols="20" name="description" placeholder="enter description"></textarea>
        <br/> <br/>
        <input name="price" placeholder="enter price" type="number">
        <br/> <br/>
        <input name="location" placeholder="enter location">
        <br/> <br/>
        <input name="country" placeholder="enter country" >
        <br/> <br/>
        <input name="image" placeholder="enter image URL/Link">
        <br/> <br/>
        <button>Add Stay</button>
    </form>
</body>
</html>